<div class="fridge-page">
  <div class="list">
    <h1><%= link_to @grocerylist.name, edit_grocerylist_path(@grocerylist) %></h1>

    <table>
      <% @groceries.each do |g| %>
      <tr>
        <td>
          <%= link_to g.name, edit_grocery_path(g) %>
        </td>
        <td>
          <div class="accept-button">
            <%= link_to '', accept_grocery_path(g), class: 'fa fa-check' %>
          </div>
        </td>
        <td>
          <div class="delete-button">
            <%= link_to '', g, method: :delete, data: { confirm: 'You sure?' }, class: 'fa fa-times' %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="add-things">
    <h2>Add a Grocery:</h2>
    <div class="new-grocery">
      <%= render "/groceries/form" %>
    </div>
  </div>
</div>
