<%= @grocerylist.name %>

<ul>
<% @groceries.each do |g| %>
  <li><%= g.name %> </li>
  <%= link_to 'Accept', accept_grocery_path(g) %>
<% end %>
</ul>

<h2>Add a Grocery:</h2>
<div class="new-grocery">
  <%= form_for @grocery do |f| %>
    <%= f.text_area :name, placeholder: 'Enter a name' %>
    <%= f.text_area :quantity, placeholder: 'Enter an amount' %>
    <%= f.label :fridgecategory_id, "Category:" %>
    <%= f.collection_radio_buttons(:fridgecategory_id, @fridgecategories, :id, :name) %>
    <%= f.submit "Add Grocery" %>
  <% end %>
</div>
