<%= @fridge.name %>

<div id="app"></div>

<ul>
  <% @fridgecategories.each do |fc| %>
    <li><%= fc.name %></li>
  <% end %>
</ul>

<h2>Add a Category:</h2>
<%= form_for @fridgecategory do |f| %>
  <%= f.text_area :name, placeholder: "Name"%>
  <%= f.submit "Save Category" %>
<% end %>
