<h2>Add a Grocery:</h2>
<%= form_for @grocery do |f| %>
  <%= f.text_area :name, placeholder: 'Enter a name' %>
  <%= f.text_area :quantity, placeholder: 'Enter a number' %>
  <%= f.label :exp_date, "Expires:" %>
  <%= f.date_select :exp_date, order: [:month, :day, :year] %>
  <%= f.label :fridgecategory_id, "Category:" %>
  <%= f.collection_radio_buttons(:fridgecategory_id, Fridgecategory.all, :id, :name) %>
  <%= f.submit "Add Grocery" %>
<% end %>
